# SPDX-FileCopyrightText: Marlon Gundelfinger <marlonqgundelfinger@gmail.com>
# SPDX-License-Identifier: AGPL-3.0-or-later
*.iml
.devcontainer
.idea
/.php-cs-fixer.cache
/.php_cs.cache
/build/
/vendor/
js/*hot-update.*
node_modules/
# might have to add those again for release
js